.App{
  height: 100%;
}

body, html, #root {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f8f8f8;
}

.login-container {
  display: flex;
  height: 100%;
}

.left-panel {
  background-color: #e0e0e0;
  border-radius: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative; /* Add this line */
}

.left-panel .logo {
  display: flex;
  top: 20px;
  left: 20px;
  margin-bottom: 0;
  position: absolute;
}

.left-panel .icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.left-panel .text {
  width: 20px;
  height: 20px;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: bold;
}

.left-panel .illustration {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}

.left-panel .illustration img {
  max-width: 100%;
  height: auto;
}

.right-panel {
  flex: 1;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
}

.right-panel h2 {
  font-stretch: expanded;
  letter-spacing: 1px;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: 'Roboto', bold;
}

.right-panel .input-group {
  margin-bottom: 15px;
  width: 100%;
  max-width: 300px;
}

.right-panel .input-group label {
  display: flex;
  margin-bottom: 5px;
  font-size: 14px;
}

.right-panel .input-group input {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 50px;
  width: 400px;
  border-radius: 20px;
}

.right-panel button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 20px;
  height: 50px;
  width: 400px;
  cursor: pointer;
  font-size: 16px;
}

.right-panel button:hover {
  background-color: #333;
}

.right-panel button:hover {
  background-color: #333;
}
